{% extends 'base.html.twig' %}

{% block title %}Modifier {{ article.nom }}{% endblock %}

{% block body %}
    <h1>Modifier l'article</h1>
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-warning">Mettre à jour</button>
        <a href="{{ path('article_list') }}" class="btn btn-secondary">Annuler</a>
    {{ form_end(form) }}
{% endblock %}