{% extends 'base.html.twig' %}

{% block title %}Modifier {{ article.nom }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Modifier l'article</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-warning">Mettre à jour</button>
        <a href="{{ path('article_show', {id: article.id}) }}" class="btn btn-secondary">Annuler</a>
    {{ form_end(form) }}
</div>
{% endblock %}